<!DOCTYPE HTML>
<html  lang="en">
	<head>
		<title>Brokers</title>
<!-- 		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />

<!-- 		<%@include file="dashboard.js" %>  -->
<!-- 		<img src="pic.png"/> -->
	</head>
	<body>
		<div class="container">
			<h2>
				Welcome to Brokers' Manager {{totalTodos}}
			</h2>
<!-- 			<br/> -->
<!-- 			<h3>Create Broker Test</h3> -->
<!-- 			<p class="text-danger" ng-model="error">Error</p> -->
<!-- 			<form class="form-inline" ng-model="broker" method="post"> -->
<!-- 				<label>Name: </label> <input class="form-control input-sm" type="text" ng-model="broker.name" />  -->
<!-- 				<label>Code: </label> <input class="form-control input-sm" type="text" size="7" ng-model="broker.code" />  -->
<!-- 				<label>NifAsSeller: </label> <input class="form-control input-sm" type="text" size="9" ng-model="broker.nifAsSeller" />  -->
<!-- 				<label>NifAsBuyer: </label> <input class="form-control input-sm" type="text" size="9" ng-model="broker.nifAsBuyer" />  -->
<!-- 				<label>IBAN: </label> <input class="form-control input-sm" type="text" size="12" ng-model="broker.iban" />  -->
<!-- 				<input class="btn btn-primary input-sm" type="submit" ng-click="submitBroker(broker)"  value="Submit" /> -->
<!-- 			</form> -->
<!-- 			<br/> -->
<!-- 			<h3>List of Brokers</h3> -->
<!-- 			<table class="table table-striped"> -->
<!-- 				<thead> -->
<!-- 					<tr> -->
<!-- 						<th>Name</th> -->
<!-- 						<th>Code</th> -->
<!-- 						<th>Clients</th> -->
<!-- 						<th>Bulks</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- 				<tbody> -->
<!-- 					<tr ng-repeat="broker in brokers"> -->
<!-- 						<td ng-model="broker.name">Name</td> -->
<!-- 						<td ng-model="broker.code">Code</td> -->
<!-- 						<td><a -->
<!-- 							ng-href="/brokers/{{broker.code}}/clients">Link</a></td> -->
<!-- 						<td><a -->
<!-- 							ng-href="/brokers/{{broker.code}}/bulks">Link</a></td> -->
<!-- 					</tr> -->
<!-- 				</tbody> -->
<!-- 			</table> -->
		</div>
		
<!-- 		<script src="angularComponents/angular.js"></script> -->
<!-- 			<script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script> -->
<!-- 		<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script> -->
		<script type="text/javascript" src="js/dashboard.js"></script>
	</body>
</html>